@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
html {
  font-size: 10px;
  font-family: 'Bruno Ace SC', cursive;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}


.column {
  display: flex;
  flex-direction: column;
}
